<div class="status d-flex mb-2" style="font-weight: 500;">
  <div class="me-3 ">
    Status: <span>{{data.statusCode}}</span>
  </div>
  <div class="me-3 ">
    Time: <span>{{data.timeTaken}}</span>
  </div>
  <div class="me-3 ">
    Size: <span>{{data.size}}</span>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item me-3" role="presentation">
    <button class="nav-link active" id="body-tab" data-bs-toggle="tab" data-bs-target="#body" type="button" role="tab"
      aria-controls="body" aria-selected="true">Body</button>
  </li>
  <li class="nav-item me-3" role="presentation">
    <button class="nav-link" id="response-headers-tab" data-bs-toggle="tab" data-bs-target="#response-headers"
      type="button" role="tab" aria-controls="response-headers" aria-selected="false">Headers</button>
  </li>
</ul>

<div class="tab-content p-3 border-top-0 border">
  <div class="tab-pane fade show active" id="body" role="tabpanel" aria-labelledby="body-tab">
    <ngx-codemirror
      [options] = "codeMirrorOptions"
      style="font-size: 17px;"
      [(ngModel)]="data.body"
    >
    </ngx-codemirror>
  </div>
  <div class="tab-pane fade" id="response-headers" role="tabpanel" aria-labelledby="response-headers-tab">
    <div style="display: grid; grid-template-columns: auto 1fr; gap: .5rem 2rem;"  >
      <ng-container *ngFor="let item of data.header | keyvalue" >
        <div class="p-2 fw-bold">{{item.key}}</div>
        <div class="p-2">{{item.value}}</div>
      </ng-container>
    </div>
  </div>
</div>
